<header class="w-100 d-none d-md-flex d-lg-none justify-content-between px-3">
    <a class="btn h-100 d-flex p-0 align-items-center" href="#"><h3 class="mb-0"><i class="fas fa-yin-yang"></i> Brazen MMA</h3></a>
    <nav class="h-100">
        <ul class="list-unstyled d-flex align-items-center h-100">
            <li class="mx-3">
                <form class="search-form d-flex">
                    <input class="px-2" type="text" placeholder="Search Products...">
                    <button class="px-2" type="submit"><i class="fas fa-search"></i></button>
                </form>
            </li>
            <li class="mx-4"><a class="listitem btn p-0" href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
            <li class="listitem mx-4"><i class="fas fa-user"></i></li>
            <li class="listitem mx-4"><i class="fas fa-shopping-bag"></i></li>
            <li id="navbar-toggle" class="listitem ml-4"><i class="fas fa-list-ul"></i></li>
        </ul>
    </nav>
</header>