<nav id="product-menu-tablet" class="product-menu d-lg-none p-0">
    <ul class="list-unstyled">
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">MMA</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">BJJ</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Muay Thai</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Equipment</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Sale <i class="fas fa-tags"></i></span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">All Products</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
    </ul>
</nav>