{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="This page displays the bag with the users products displayed."/>
{% endblock %}

{% block title %}
 - Bag
{% endblock %}

{% block css %}
    <style>
        .img-container {
            height: 8rem;
            width: 8rem;
            object-fit: scale-down;
            border: 1px solid black;
        }
    </style>
{% endblock %}

{% block content %}
    <h2 class="mx-auto py-3 text-center bg-white">My Bag</h2>
    <table class="container w-75 mx-auto bg-white">
        <tr class="row py-3">
            <th class="col-3 text-center">Image</th>
            <th class="col-3 text-center">Name</th>
            <th class="col-3 text-center">Quantity</th>
            <th class="col-3 text-center">Price</th>
        </tr>  
    {% if product_count == 0 %}
        <div class="container-fluid bg-white">
            <h4 class="text-center py-3">Your bag is empty</h4>
        </div>
    {% else %}
        {% for item in bag_items %}
            <tr class="table-row row py-2">
                <td class="col-3 d-flex justify-content-center"><a href="{% url 'product_details' item.product.product_id %}"><img class="img-container" src="../media/{{ item.product.image }}" alt="{{ item.product.name }}"></a></td>
                <td class="col-3 d-flex align-items-center justify-content-start">
                    <strong>
                        <a href="{% url 'product_details' item.product.product_id %}">{{ item.product.name }}</a>{% if item.size != 'false' %}<br>
                        <p>Size: {{ item.size }}</p>{% endif %}
                        <span class="parse-size d-none">{{ item.size }}</span>
                    </strong>
                </td>
                <td class="col-3 d-flex align-items-center flex-column py-4">
                    <span class="mb-2">
                        <!-- original parse-quantity location ^^ -->
                        <form method="POST" action="{% url 'adjust_bag' item.product_id %}">
                            {% csrf_token %}
                            <input type="hidden" name="size" value="{{ item.size }}">                            
                            <input type="hidden" class="parse-quantity" value="{{ item.quantity.product_size }}">
                            <button class="quantity-sub btn btn-primary quantity-selector" type="button"><i class="fas fa-chevron-left"></i></button>
                            <input name="quantity" type="number" min="1" max="99" class="text-center display-quantity" required>
                            <button class="quantity-add btn btn-primary quantity-selector" type="button"><i class="fas fa-chevron-right"></i></button> 
                            
                            <button type="submit">update</button>
                        </form>
                        
                    </span>
                    <span>
                        <form method="POST" action="{% url 'remove_from_bag' item.product_id %}">
                            {% csrf_token %}
                            <input type="hidden" value="{{ item.size }}" name="size">
                            <button type="submit">remove</button>
                        </form>
                    </span>
                </td>
                <td class="col-3 d-flex align-items-center justify-content-center">£{{ item.product.price }}</td>
            </tr>
        {% endfor %}
            <tr class="row py-4">
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3"></td>
                <td class="col-3 text-center"><strong class="mr-3">SUB-TOTAL</strong>£{{ total }}</td>
            </tr>
        </table>  

        <div class="d-flex justify-content-end bg-white py-3">        
            <a class="btn btn-secondary my-3 mr-5" href="{% url 'products' %}">Keep Shopping</a><br>
            <a class="btn btn-primary my-3 mr-5" href="#"><i class="fas fa-lock"></i> Checkout</a>
        </div>
    {% endif %}

{% endblock %}

{% block js %}
    <script>
        /* 
        display quantity of a product size. 
        This is a temporary fix. Ideally this should
        be fixed with Django templates
        */     
        $(function() {
            let getQuantityClass = document.getElementsByClassName('parse-quantity');
            let getSizeClass = document.getElementsByClassName('parse-size');
            let displayQuantity = document.getElementsByClassName('display-quantity');
            let i;
            for (i=0; i<getQuantityClass.length; i++) {
                /* 
                get {item.quantity.product_size} and replace ' with " so that 
                JSON can parse the string.
                */
                let getString = getQuantityClass[i].value.replace(/'/g, '"');
                let parseString = JSON.parse(getString);
                let getSize = getSizeClass[i].innerText;
                displayQuantity[i].value = parseString[getSize];
            }
            $('.parse-quantity').show();
        });

        var $displayQuantity = $('.display-quantity');

        $('.quantity-add').click(function() {
            var val = $(this).prev().val();
            if (val < 99) {
                val = parseInt(val) + 1;
                $(this).prev().val(val);
            }
        });
        $('.quantity-sub').click(function() {
            var val = $(this).next().val();
            if (val > 1) {
                val = parseInt(val) - 1;
                $(this).next().val(val);
            }
        });



    </script>
{% endblock %}