{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="Brazen MMA home page."/>
{% endblock %}

{% block title %}
 - Home
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/index.css' %}">
    <!-- flickity -->
    <link rel="stylesheet" href="https://unpkg.com/flickity@2/dist/flickity.min.css">
{% endblock %}

{% block content %}
<!-- hero image -->
<div id="hero-image" class="position-relative">
    <div id="hero-image-container">
        <!-- <img src="https://www.verywellfit.com/thmb/rYgOA5OFD9-eca1GmrnS8g4NJis=/3000x2002/filters:no_upscale():max_bytes(150000):strip_icc()/heavy-bag-work-mrbig_photography-58f7d4f75f9b581d5982bd51.jpg" alt=""> -->
    </div>
    <div class="cover"></div>
    <div class="hero-description text-white flex-column d-flex justify-content-center align-items-center">
        <p class="h3 text-center px-3 bold">Welcome to Brazen Martial Arts!</p>
        <p class="h4 text-center px-3">We work with industry leading suppliers to get you the best gear... at the best price!</p>
        <div id="shop-now" class="d-flex flex-column p-3 mt-3">
            <div>
                <h4 class="text-center bold mb-3">SHOP NOW</h4>
            </div>
            <div id="shop-buttons">
                <a href="{% url 'products' %}?category=bjj" class="mx-3 btn btn-primary">BJJ</a>
                <a href="{% url 'products' %}?category=mma" class="mx-3 btn btn-primary">MMA</a>
                <a href="{% url 'products' %}?category=muay thai" class="mx-3 btn btn-primary">Muay Thai</a>
            </div>
        </div>
    </div>
</div>

<!-- BJJ carousel -->
<div class="carousel-header w-100 h3 m-0 p-3 d-flex align-items-center justify-content-center"><a class="btn-button  text-center" href="{% url 'products' %}?category=bjj">Brazilian Jiu Jitsu <i class="far fa-hand-pointer"></i><small class="h6 bold ml-1"> VIEW ALL</small></a></div>
<div class="product-row carousel">    
    {% for product in products_bjj %}
        <a href="{% url 'product_details' product.product_id %}" class="p-2 carousel-cell product-style d-flex flex-column">
            <div class="img-container p-0 d-flex justify-content-center">                    
                <img class="img-thumbnail" src="../media/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <strong class="my-2 w-100 product-name text-center mb-4">{{ product.name }}</strong>
            <div class="position-absolute">
                {% if product.sale %}
                    <div class="d-flex my-2">
                        <p class="mx-2 bold my-0 text-danger">£{{ product.price }} <i class="fas fa-tags"></i></p>
                        <strike class="mr-2 bold my-0 text-muted">£{{ product.rrp }}</strike>
                    </div>
                {% else %}
                    <p class="my-2 bold text-dark">£{{ product.price }}</p>
                {% endif %}
            </div>
            </a>
    {% endfor %}
</div>

<!-- Muay Thai carousel -->
<div class="carousel-header w-100 h3 m-0 p-3 d-flex align-items-center justify-content-center"><a class="btn-button text-center" href="{% url 'products' %}?category=muay thai">Muay Thai <i class="far fa-hand-pointer"></i><small class="h6 bold ml-1"> VIEW ALL</small></a></div>
<div class="product-row carousel2">    
    {% for product in products_muay_thai %}
        <a href="{% url 'product_details' product.product_id %}" class="p-2 carousel-cell product-style d-flex flex-column">
            <div class="img-container p-0 d-flex justify-content-center">                    
                <img class="img-thumbnail" src="../media/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <strong class="my-2 w-100 product-name text-center mb-4">{{ product.name }}</strong>
            <div class="position-absolute">
                {% if product.sale %}
                    <div class="d-flex my-2">
                        <p class="mx-2 bold my-0 text-danger">£{{ product.price }} <i class="fas fa-tags"></i></p>
                        <strike class="mr-2 bold my-0 text-muted">£{{ product.rrp }}</strike>
                    </div>
                {% else %}
                    <p class="my-2 bold text-dark">£{{ product.price }}</p>
                {% endif %}
            </div>
            </a>
    {% endfor %}
</div>

<!-- MMA carousel -->
<div class="carousel-header w-100 h3 m-0 p-3 d-flex align-items-center justify-content-center"><a class="btn-button text-center" href="{% url 'products' %}?category=mma">Mixed Martial Arts <i class="far fa-hand-pointer"></i><small class="h6 bold ml-1"> VIEW ALL</small></a></div>
<div class="product-row carousel3">    
    {% for product in products_mma %}
        <a href="{% url 'product_details' product.product_id %}" class="p-2 carousel-cell product-style d-flex flex-column">
            <div class="img-container p-0 d-flex justify-content-center">                    
                <img class="img-thumbnail" src="../media/{{ product.image }}" alt="{{ product.name }}">
            </div>
            <strong class="my-2 w-100 product-name text-center mb-4">{{ product.name }}</strong>
            <div class="position-absolute">
                {% if product.sale %}
                    <div class="d-flex my-2">
                        <p class="mx-2 bold my-0 text-danger">£{{ product.price }} <i class="fas fa-tags"></i></p>
                        <strike class="mr-2 bold my-0 text-muted">£{{ product.rrp }}</strike>
                    </div>
                {% else %}
                    <p class="my-2 bold text-dark">£{{ product.price }}</p>
                {% endif %}
            </div>
            </a>
    {% endfor %}
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/index.js' %}"></script>

    <!-- flickity -->
    <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>

    <script src="{% static 'js/flickity.js' %}"></script>
{% endblock %}