{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="Checkout success page"/>
{% endblock %}

{% block title %}
 - Checkout Complete
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/checkout_success.css' %}">
{% endblock %}

{% block content %}
    <h2 class="mx-auto py-3 text-center text-white">Order Successfully placed.</h2>
    <h4 class="mx-auto py-3 text-center text-white">Confirmation email sent to {{ order.email }}</h4>

    {% if request.user.is_anonymous %}
        <div id="anonymous-user" class="mb-4 w-80 mx-auto p-3">
            <p class="text-center">You do not have an account with Brazen Martial Arts.</p>
            <p class="text-center"><a href="{% url 'account_signup' %}">Register an account now</a> to save your delivery information for future purchases and stay up to date with the latest offers from Brazen Martial Arts.</p>
        </div>
    {% endif %}
    <div id="order-details" class="container p-3">
        <div class="row w-80 mx-auto">            
            <h5 class="text-center w-100">Order Details</h5>
            <div class="w-100 d-flex my-1">
                <div class="w-25">Order Number</div>
                <div class="w-75 text-right word-wrap">{{ order.order_number }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Order Date</div>
                <div class="w-50 text-right">{{ order.date }}</div>
            </div>
        </div>
        <hr>
        <div class="row w-80 mx-auto">
            <h5 class="text-center w-100">Products Ordered</h5>
            {% for item in order.lineitems.all %}
            <div class="w-100 d-flex my-1">
                <!-- get sizes in -->
                <div class="w-50">
                    <p>{{ item.product.name }}<br> Size: <span>{{ item.product_size }}</span><br>Qty: <span>{{ item.quantity }}</span></p>
                    
                </div>
                <div class="w-50 text-right">
                    {% if item.quantity > 1 %}
                        £{{ item.product.price }} each</div>
                    {% else %}
                        £{{ item.product.price }}</div>
                    {% endif %}
            </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row w-80 mx-auto">            
            <h5 class="text-center w-100">Delivery Details</h5>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Full Name</div>
                <div class="w-50 text-right">{{ order.full_name }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Address 1</div>
                <div class="w-50 text-right">{{ order.street_address1 }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Address 2</div>
                <div class="w-50 text-right">{{ order.street_address2 }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">County</div>
                <div class="w-50 text-right">{{ order.county }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Town/City</div>
                <div class="w-50 text-right">{{ order.town_or_city }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Postcode</div>
                <div class="w-50 text-right">{{ order.postcode }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Country</div>
                <div class="w-50 text-right">{{ order.country }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Phone Number</div>
                <div class="w-50 text-right">{{ order.phone_number }}</div>
            </div>
        </div>
        <hr>
        <div class="row w-80 mx-auto">            
            <h5 class="text-center w-100">Order Total</h5>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Order Total</div>
                <div class="w-50 text-right">£{{ order.order_total }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Delivery Cost</div>
                <div class="w-50 text-right">£3.50</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Grand Total</div>
                <div class="w-50 text-right">£{{ order.grand_total }}</div>
            </div>
        </div>   

    {% if from_profile %}
        <a href="{% url 'profile_order_history' %}" class="btn btn-primary">Return to Order History</a>
    {% endif %}
        

{% endblock %}