{% extends 'base.html' %}
{% load static %}

<!-- Under UX Contruction. Static files and templates may alter substantially during development.
Refactor pending. -->

{% block meta_description %}
    <meta name="Description" content="Checkout success page"/>
{% endblock %}

{% block title %}
 - Checkout Complete
{% endblock %}

{% block css %}
<style>
    .img-summary {
        width: 5rem;
        height: 5rem;
    }
    .img-summary img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .stripe-style-input {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 0;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }
    #card-element {
        border: 1px solid black;
    }
    body {
        background-color: rgba(173, 216, 230, 0.459);
    }
    #payment-form {
        background-color: rgb(255, 255, 255);
        /* box-shadow: inset 4rem 4rem 20rem rgba(173, 216, 230, 0.459); */
    }
    .bg-card {
        background-color: white;
        padding-left: 2rem;
        padding-right: 2rem;
        padding-top: 1rem;
        padding-bottom: 1rem;
    }
    .w-80 {
        width: 85%;
    }
    .stripe-style-input {
        border: 1px solid black;
        /* box-shadow: 0.5rem 0.5rem 0.5rem rgba(0, 0, 0, 0.253) inset; */
    }
</style>
{% endblock %}

{% block content %}
    <h2 class="mx-auto py-3 text-center bg-white">Order Successfully placed.</h2>

    <div class="container p-3 bg-white">
        <div class="row w-80 mx-auto">
            <div class="w-100 d-flex my-1">
                <div class="w-50">Order Number</div>
                <div class="w-50 text-right">{{ order.order_number }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Order Date</div>
                <div class="w-50 text-right">{{ order.date }}</div>
            </div>
        </div>
        <hr>
        <div class="row w-80 mx-auto">
            {% for item in order.lineitems.all %}
            <div class="w-100 d-flex my-1">
                <!-- get sizes in -->
                <div class="w-50">{{ item.product.name }}</div>
                <div class="w-50 text-right">£ {{ item.product.price }}</div>
            </div>
            {% endfor %}
        </div>
        <hr>
        <div class="row w-80 mx-auto">
            <div class="w-100 d-flex my-1">
                <div class="w-50">Name</div>
                <div class="w-50 text-right">{{ order.first_name }} {{ order.last_name }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Address 1</div>
                <div class="w-50 text-right">{{ order.street_address1 }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Address 2</div>
                <div class="w-50 text-right">{{ order.street_address2 }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">County</div>
                <div class="w-50 text-right">{{ order.county }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Town/City</div>
                <div class="w-50 text-right">{{ order.town_or_city }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Postcode</div>
                <div class="w-50 text-right">{{ order.postcode }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Country</div>
                <div class="w-50 text-right">{{ order.country }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Phone Number</div>
                <div class="w-50 text-right">{{ order.phone_number }}</div>
            </div>
        </div>
        <hr>
        <div class="row w-80 mx-auto">
            <div class="w-100 d-flex my-1">
                <div class="w-50">Order Total</div>
                <div class="w-50 text-right">£ {{ order.order_total }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Delivery Cost</div>
                <div class="w-50 text-right">£ {{ order.delivery }}</div>
            </div>
            <div class="w-100 d-flex my-1">
                <div class="w-50">Grand Total</div>
                <div class="w-50 text-right">£ {{ order.grand_total }}</div>
            </div>
        </div>
    </div>     

    {% if from_profile %}
        <a href="{% url 'profile' %}" class="btn btn-primary">Return to Profile</a>
    {% endif %}
        

{% endblock %}