{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="Checkout page"/>
{% endblock %}

{% block title %}
 - Checkout
{% endblock %}

{% block css %}
<style>
    .img-summary {
        width: 5rem;
        height: 5rem;
    }
    .img-summary img {
        width: 100%;
        height: 100%;
        object-fit: scale-down;
    }

    .stripe-style-input {
        box-sizing: border-box;
        height: 40px;
        padding: 10px 12px;
        border: 1px solid transparent;
        border-radius: 0;
        background-color: white;
        box-shadow: 0 1px 3px 0 #e6ebf1;
        -webkit-transition: box-shadow 150ms ease;
        transition: box-shadow 150ms ease;
    }
    #card-element {
        border: 1px solid black;
    }
</style>
{% endblock %}

{% block content %}
    <h2 class="mx-auto py-3 text-center bg-white">Checkout</h2>
    <div class="container">
        <div class="row">
            <p class="col-12">Please Fill out the form below.</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <form class="col-6" action="{% url 'checkout' %}" method="POST" id="payment-form">
                {% csrf_token %}
                <fieldset>
                    <legend>Details</legend>
                    {{ order_form.first_name | as_crispy_field }}
                    {{ order_form.last_name | as_crispy_field }}
                    {{ order_form.email | as_crispy_field }}
                </fieldset>
                <fieldset>
                    <legend>Delivery</legend>
                    {{ order_form.phone_number | as_crispy_field }}
                    {{ order_form.country | as_crispy_field }}
                    {{ order_form.postcode | as_crispy_field }}                    
                    {{ order_form.town_or_city | as_crispy_field }}                    
                    {{ order_form.street_address1 | as_crispy_field }}                    
                    {{ order_form.street_address2 | as_crispy_field }}                    
                    {{ order_form.county | as_crispy_field }} 
                    <div>
                        {% if user.is_authenticated %}
                            <label>Save this delivery information</label>
                            <input name="save-info" type="checkbox">
                        {% else %}
                            <label for="">
                                <a href="#">Create an account</a>
                                <a href="#">Login</a> to save this information.
                            </label>
                        {% endif %}
                    </div>                
                </fieldset>
                <fieldset>
                    <legend>Payment</legend>
                    <div id="card-element" class="my-5 p-3"></div>                   
                    <div id="card-errors" class="my-5 p-3"></div>                   
                </fieldset>
                <a href="#">Adjust your bag.</a>
                <button type="submit" id="submit-form">Complete Order</button>
                <p>you will be charged £ XX.XX</p>
            </form>
            <div class="col-6">
                <p>Order Summary</p>
                <table>
                    {% for item in bag_items %}
                        <tr class="table-row row py-2">
                            <td class="img-summary col-3 d-flex justify-content-center">
                                <img class="img-container" src="../media/{{ item.product.image }}" alt="{{ item.product.name }}">
                            </td>
                            <td class="col-6 d-flex align-items-center justify-content-start">
                                <strong>
                                    {{ item.product.name }}
                                    {% if item.size != 'false' %}
                                        <p>Size: {{ item.size }}</p>
                                    {% endif %}
                                    <span class="parse-size d-none">{{ item.size }}</span>
                                </strong>
                            </td>
                            <td class="col-1 d-flex align-items-center flex-column py-4">
                                {{ item.qty }}
                            </td>
                            <td class="col-2 d-flex align-items-center justify-content-center">£{{ item.product.price }}</td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
        </div>
    </div>

{% endblock %}

{% block js %}
    {{ block.super }}
    {{ stripe_public_key|json_script:"id_stripe_public_key" }}
    {{ client_secret|json_script:"id_client_secret" }}
    
    <script>
        var stripePublicKey = $('#id_stripe_public_key').text().slice(1, -1);
        var clientSecret = $('#id_client_secret').text().slice(1, -1);
        var stripe = Stripe(stripePublicKey);
        var elements = stripe.elements()

        var style = {
            base: {
                color: '#32325d',
                fontFamily: '"Helvetica Neve", Helvetica, sans-serif',
                fontSmoothing: 'antialiased',
                fontSize: '16px',
                '::placeholder': {
                    color: '#aab7c4'
                }
            },
            invalid: {
                color: '#dc3545',
                iconColor: '#dc3545'
            }
        };

        var card = elements.create('card', {style: style});
        card.mount('#card-element');

        // Handle validation errors
        card.addEventListener('change', function(e) {
            var errorDiv = document.getElementById('card-errors');
            if (e.error) {
                var html = `
                    <span class="icon text-danger" role="alert">
                        <i class="fas fa-times"></i>
                    </span>
                    <span class="text-danger">${e.error.message}</span>`;
                errorDiv.innerHTML = html;
            } else {
                errorDiv.textContent = '';
            }
        });

        // handle form submission
        var form = document.getElementById('payment-form');

        form.addEventListener('submit', function(e) {
            e.preventDefault();
            card.update({'disabled': true});
            $('#submit-form').attr('disabled', true);
            stripe.confirmCardPayment(clientSecret, {
                payment_method: {
                    card: card,
                }
            }).then(function(result) {
                if (result.error) {
                    var html = `
                        <span class="icon text-danger" role="alert">
                            <i class="fas fa-times"></i>
                        </span>
                        <span class="text-danger">${result.error.message}</span>`;
                    errorDiv.innerHTML = html;
                    card.update({'disabled': false});
                    $('#submit-form').attr('disabled', false);
                } else {
                    if (result.paymentIntent.status === 'succeeded') {
                        form.submit();
                    }
                }
            });
        });

    </script>

    <script src="{% static 'checkout/js/stripe-elements.js' %}"></script>
{% endblock %}