@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap');

.font-oswald {
    font-family: 'Oswald', sans-serif;
}

/* lg width */
@media only screen and (max-width: 992px) {
    .listitem {
        width: 20%;
    }
    #header-md {
        height: 5rem !important;
        background-color: rgb(0, 0, 0) !important;
        width: 100vw;
        position: absolute;
        top: 0;
        left: 0;
        font-size: 1.2rem;
        display: flex;
        align-items: center;
        border-bottom: 1px solid grey;
        justify-content: center;
    }
    #header-md a {
        font-size: 1.3rem;
        font-weight: 300;
        letter-spacing: 2px;
        font-weight: 500;
    }
    #header-md span {
        border-top: 1px solid rgba(255, 255, 255, 0.2);
    }
    #header-md span button,
    #header-md span a {
        border: 0;
        font-size: 1.4rem;
        width: 2.5rem;
        height: 2.5rem;
        display: inline-block;
    }
    #block-content {
        height: calc(100vh - 5rem);
        width: 100vw;
        top: 5rem;
        left: 0;
    }
    #search-menu-sm {
        display: none;
        z-index: 1;
    }
    #search-menu-sm form {
        height: 3rem;
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: white;
        z-index: 10;
        width: calc(100vw - 10px);
    }
    .scroll {
        overflow: scroll;
    }
    #bag-sm-menu {
        height: calc(100vh - 3rem);
        width: 100vw;
        position: absolute;
        z-index: 10;
        top: 5rem;
        left: 0;
        background-color: rgba(173, 216, 230, 0.2);
        overflow-y: scroll;
        overflow-x: hidden;
        display: none;
    }
    #bag-sm-menu div {
        width: 98%;
    }
    #bag-sm-menu div p {
        font-weight: 700;
        letter-spacing: 1px;
        white-space: nowrap;
        
    }
    #bag-sm-menu div p span {
        font-weight: 700;
        white-space: nowrap;   
        font-size: 0.8rem;     
    }
    #bag-sm-menu div a {
        width: 45%;
    }
    .bg-pale-blue {
        background-color: rgba(173, 216, 230, 0.6);
    }
    #side-nav {
        width: 100vw;
        height: calc(100vh - 3rem);
        position: absolute;
        top: 5rem;
        left: 0;
        background-color: rgba(173, 216, 230, 0.2);
        z-index: 10;
        overflow-x: hidden;
        overflow-y: scroll;
        display: none;
    }
    #side-nav div {
        background-color: rgba(173, 216, 230, 0.2);
    }
    #side-nav div a {        
        font-size: 1.4rem;
        font-weight: 600;
    }
    #side-nav hr {
        border: 1px solid white;
    }
    #side-nav nav {
        background-color: rgba(0, 0, 0, 0.2);
        height: calc(100vh - 136px);
    }
    #side-nav nav:first-of-type {
        height: auto;
    }
    #sm-account {
        color: white;
        overflow-y: scroll;
        overflow-x: hidden;
    }
    #toggle-sm-account i:last-of-type {
        font-size: 1rem;
    } 
    #sm-account ul li ul {
        display: none;
    }
    .nav-item-size {
        font-size: 1rem !important;
    }
    .i-sm {
        font-size: 1rem !important;
        margin-left: 0.5rem;
    }
    .hide-submenu {
        display: none;
    }
    .b-bottom {
        border-bottom: 1px solid white;
    }
    .a-tag-hover:hover {
        background-color: rgba(245, 245, 245, 0.9);
        color: black !important;
    }
}
