/* product_details.html */
    .container {
        background-color: whitesmoke;
    }
    .product-img-container {
        height: auto;
    }
    .product-img-container img {
        height: 100%;
        width: 100%;
        object-fit: scale-down;
        top: 0;
    }
    .dropdown-style {
        background-color: rgb(148,201,61);
        font-size: 1rem;
    }
    button {
        bottom: 0;
        right: 0;
    }
    .out-of-stock {
        pointer-events: none;
        position: relative;
        overflow: hidden;
    }
    .out-of-stock::after {
        content: "X";
        position: absolute;
        font-size: 5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.3);
    }
    #cart-size {
        bottom: 5rem;
        left: 0;
    }
    .breadcrumb {
        background-color: transparent;
        border: 0;
        font-size: 1rem;
    }
    .add-to-bag {
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
    }
    .size {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    /* products.html */
    
    .product-name {        
        letter-spacing: 2px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
    }
    #quantity {
        width: 2rem;
        color: #325d88;
        font-weight: 700;
        height: 2rem;
        pointer-events: none;
    }
    .quantity-selector {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
    
    .img-thumbnail {
        width: 18rem;
        height: 18rem;
        object-fit: scale-down;
    }
    .image-container {
        position: relative;
    }
    .image-container img {
        height: 100%;
        width: 100%;
    }
    .img-container span {
        top: 1rem;
        right: 1.5rem;
        font-size: 1.8rem;
        color: black;
    }
    .img-container span span {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .breadcrumb-item {
        font-size: 1rem;
    }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* rename */
.header {
    background-color: rgba(86, 160, 170, 0.1);
    height: 5rem;
}