/* product_details.html */

#breadcrumbs {
    background-color: rgba(0, 0, 0, 0.2);
}
@media only screen and (max-width: 1500px) {
    .price {
        font-size: 1rem;
    }
    h3 strong {
        font-size: 1.3rem;
    }
    #add-to-bag-form {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (max-width: 1350px) {    
    #product-display .col-lg-12 {
        max-width: 100%;
        flex: 0 0 100%;
    }
    .mt-5 {
        margin-top: 1rem !important;
    }
    .product-img-container {
        width: 100%;
        background-color: rgba(0, 0, 0, 0.2);
        height: 30rem;
        overflow: hidden;
    }
    .product-img-container img {
        object-fit: scale-down;
        height: 100%;
        width: 100%;
    }
    #add-to-bag-form, #cart-size {
        flex-direction: row;
        align-items: center;
        padding: 0 5rem 0 5rem;
    }
}
@media only screen and (max-width: 992px) {    
    .product-img-container {
        height: 25rem;
    }
}
@media only screen and (max-width: 770px) {    
    .product-img-container {
        height: 25rem;
    }
    #breadcrumbs nav ol {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .breadcrumb-item {
        font-size: 0.9rem !important;
    }
    #breadcrumbs {
        height: 6rem;
    }
}
@media only screen and (max-width: 650px) {        
    #add-to-bag-form {
        flex-direction: column;
        align-items: center;
    }
}
@media only screen and (min-width: 576px) {    
    .container {
        max-width: 100vw;
    }
}
@media only screen and (max-width: 450px) {    
    .product-img-container {
        height: auto;
    }
}




    .container {
        color: white;
    }
    .product-img-container img {
        max-width: 100%;
        object-fit: scale-down;
        top: 0;
    }
    #product-details {
        background-color: rgba(0, 0, 0, 0.2);
    }
    .dropdown-style {
        background-color: rgb(148,201,61);
        font-size: 1rem;
    }
    .active-size {
        border: 0.25rem solid orange;
    }
    button {
        bottom: 0;
        right: 0;
    }
    .out-of-stock {
        pointer-events: none;
        position: relative;
        overflow: hidden;
    }
    .out-of-stock::after {
        content: "X";
        position: absolute;
        font-size: 5rem;
        font-weight: 600;
        color: rgba(0, 0, 0, 0.3);
    }
    #cart-size {
        bottom: 5rem;
        left: 0;
        background-color: rgba(204, 241, 255, 0.2);
    }
    .breadcrumb {
        background-color: transparent;
        border: 0;
        font-size: 1rem;
    }
    #add-to-bag-form {
        background-color: rgba(204, 241, 255, 0.2);
    }
    .btn-primary {
        background-color: rgb(102, 136, 148);
    }
    .price {
        /* color: lightblue !important; */
    }
    .text-muted {
        color: rgba(240, 128, 128, 0.7) !important;
    }
    .add-to-bag {
        width: 10rem;
        height: 4rem;
        font-size: 1rem;
    }
    .bg-text {
        color: white;
        font-size: 0.9rem;
        font-weight: 400;
    }
    .size {
        width: 3rem;
        height: 3rem;
        font-size: 1rem;
        margin-right: 0.5rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .bg-muted {
    }

    /* products.html */
    
    .product-name {        
        letter-spacing: 2px;
        font-weight: 500;
        font-family: 'Source Sans Pro', sans-serif;
    }
    #quantity {
        width: 2rem;
        color: #325d88;
        font-weight: 700;
        height: 2rem;
        pointer-events: none;
    }
    .quantity-selector {
        width: 2rem;
        height: 2rem;
        font-size: 1rem;
    }
    
    .img-thumbnail {
        width: 18rem;
        height: 18rem;
        object-fit: scale-down;
    }
    .image-container {
        position: relative;
    }
    .image-container img {
        height: 100%;
        width: 100%;
    }
    .img-container span {
        top: 1rem;
        right: 1.5rem;
        font-size: 1.8rem;
        color: black;
    }
    .img-container span span {
        font-size: 1.3rem;
        letter-spacing: 2px;
        font-weight: 700;
    }
    .breadcrumb-item {
        font-size: 1rem;
    }


/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

/* rename */
.header {
    height: 5rem;
}

#please-select-size {
    display: none;
}