
#product-management {
    background-color: whitesmoke;
    width: 38rem;
}
#product-management h2 {
    border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
}
.bold,
label {
    font-weight: 600;
}
.border-top {
    border-top: 1px solid rgba(0, 0, 0, 0.2);
}

.btn-file {
    position: relative;
    overflow: hidden;
}
.btn-file input[type="file"] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    opacity: 0;
    cursor: pointer;
}
.custom-checkbox .custom-control-label::before {
    display: none !important;
}
.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    display: none !important;
}
.custom-control-label {
    display: none !important;
}
.custom-control {
    display: none !important;
}
.input-width {
    width: 100%;
}
.error {
    border: 1px solid red;
}
.form-group {
    width: 100%;
    padding: 0.5rem;
}
#inline-form .form-group:last-of-type {
    display: none;
}
@media only screen and (max-width: 992px) {
    #product-management {
        width: 100%;
    }
}