{% load static %}

<header id="header-md" class="d-flex flex-column align-items-center d-lg-none px-2">        
    <a class="text-white py-1 font-exo" href="{% url 'home' %}">Brazen Martial Arts</a>
    <span class="d-flex justify-content-around w-100">
        <a href="{% url 'home' %}" aria-label="Home Page" class="text-white d-flex justify-content-center align-items-center bg-transparent"><i class="fas fa-home"></i></a>
        <button id="toggle-sm-search" aria-label="Search Products" class="text-white bg-transparent"><i class="fas fa-search"></i></button>
        <button id="toggle-sm-bag" aria-label="My Shopping Bag" class="text-white bg-transparent"><i class="fas fa-shopping-cart"></i></button>
        <button id="toggle-side-nav" aria-label="Account and Product Menu" class="text-white bg-transparent"><i class="fas fa-list-ul"></i></button>
    </span>
</header>

<div id="search-menu-sm" class="w-100 d-lg-none">
    <form method="GET" action="{% url 'products' %}" class="mx-auto m-0 search-form d-flex">
        <input name="q" class="px-3" type="text" placeholder="Search Products...">
        <button class="px-2" type="submit"><i class="fas fa-search"></i></button>
    </form>
</div>

<div id="bag-sm-menu" class="d-lg-none">
    <div class="mx-auto">
        <div class="mx-auto">
            <p class="text-center m-0 h2 p-2 bg-pale-white">My Shopping Bag</p>
        </div>
        {% if product_count > 0 %}
            <div class="mx-auto bg-pale-blue mb-2 p-2">
                <p class="m-0 d-flex justify-content-between px-2"><span>{{ product_count }} items in bag</span><span>Sub-Total: £{{ total }}</span></p>
            </div>
            <div class="mx-auto bg-pale-blue my-2 p-2 d-flex justify-content-around">
                <a class="btn btn-primary d-inline-block" href="{% url 'view_bag' %}">VIEW BAG</a>
                <a class="btn btn-primary d-inline-block" href="{% url 'checkout' %}">CHECKOUT</a>
            </div>
        {% endif %}
    </div>
    {% for item in bag_items %}
        <div class="row bg-pale-white mx-auto mb-2 py-2">
            <div class="col-3 p-0 pl-2">
                <a href="{% url 'product_details' item.product.product_id %}">
                    <img class="img-container-bag-menu" src="{% get_media_prefix %}{{ item.product.image }}" alt="{{ item.product.name }}">
                </a>
            </div>
            <div class="col-9 d-flex flex-column px-3 pl-4">                        
                <div class="w-100 d-flex flex-column bg-transparent">
                    <a href="{% url 'product_details' item.product.product_id %}" class="text-left p-0 w-100">{{ item.product.name }}</a>
                    {% if item.size != 'false' %}
                        <p class="m-0 mt-2 w-100 text-left"><span><em class="mr-1">Size:</em> {{ item.size }}</span></p>
                    {% endif %}
                </div>
                <div class="text-right w-100 mt-2 d-flex justify-content-between"><span><em class="mr-1">Quantity:</em> {{ item.qty }}</span>£{{ item.product.price }}</div>
            </div>
        </div>
    {% endfor %}  
    {% if product_count == 0 %}
        <div class="mx-auto">
            <p class="text-center bg-pale-white p-3">Your bag is currently empty</p>
        </div>
    {% endif %}
    <!-- Display this second menu if product_count is greater than 3. So a user does not have to scroll up to the first menu -->
    {% if product_count > 3 %}
        <div class="mx-auto bg-pale-blue my-2 p-2">
            <p class="m-0 text-white d-flex justify-content-between px-2"><span>{{ product_count }} items in bag</span><span>Sub-Total: £{{ total }}</span></p>
        </div>
        <div class="mx-auto bg-pale-blue my-2 p-2 d-flex justify-content-around">
            <a class="btn btn-primary d-inline-block" href="{% url 'view_bag' %}">VIEW BAG</a>
            <a class="btn btn-primary d-inline-block" href="{% url 'checkout' %}">CHECKOUT</a>
        </div>
    {% endif %}
</div>

<!-- Side nav -->
<div id="side-nav" class="d-lg-none">
    <hr class="m-0">
    <nav id="sm-account" class="d-flex flex-column p-0">
        <ul class="list-unstyled m-0">
            <li class="text-white text-center">
                <button id="toggle-sm-account" class="w-100 h3 p-3 text-white m-0 btn-none nav-item-hover"><i class="fas fa-user"></i> Account <i class="fas fa-chevron-down"></i></button>                
                <ul class="list-unstyled p-3 w-100">
                    {% if request.user.is_authenticated %}
                        {% if request.user.is_superuser %}
                            <li class="text-center p-3"><a href="{% url 'add_product' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover"><small class="text-muted">Product Management</small><br>Add a Product</a></li>
                        {% endif %}                    
                        <li class="text-center"><a href="{% url 'profile_order_history' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover"><small class="text-muted">Profile</small><br>Order History</a></li>
                        <li class="text-center"><a href="{% url 'profile_delivery_info' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover"><small class="text-muted">Profile</small><br>Update Delivery Info</a></li>
                        <li class="text-center"><a href="{% url 'account_logout' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover">Logout</a></li>
                    {% else %}
                        <li class="text-center"><a href="{% url 'account_signup' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover">Register</a></li>
                        <li class="text-center"><a href="{% url 'account_login' %}" class="w-100 d-inline-block text-center m-0 p-3 text-white h3 nav-item-hover">Login</a></li>
                    {% endif %}
                </ul>
            </li>
        </ul>
    </nav>
    <hr class="m-0">
    <nav id="product-menu" class="p-0">
        <ul class="p-0 list-unstyled w-100">
            <li class="m-0 h3 text-center toggle-sub-menu b-bottom">
                <button class="d-flex align-items-center justify-content-center btn-none text-white nav-item-hover w-100 p-3">BJJ <i class="fas fa-chevron-down i-sm"></i></button>
                <ul class="list-unstyled mt-3 hide-submenu">
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj&product_type=gi">Gi</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj&product_type=belts">Belts</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj&product_type=rash%20guards">Rash Guards</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj&product_type=spats">Spats</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj&product_type=shorts">Shorts</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=bjj">All Products</a></li>
                </ul>
            </li>
            <li class="m-0 h3 text-center toggle-sub-menu b-bottom">
                <button class="d-flex align-items-center justify-content-center btn-none text-white nav-item-hover w-100 p-3">MMA <i class="fas fa-chevron-down i-sm"></i></button>
                <ul class="list-unstyled mt-3 hide-submenu">
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma&product_type=gloves">Gloves</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma&product_type=shorts">Shorts</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma&product_type=handwraps">Handwraps</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma&product_type=shin%20guards">Shin Guards</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma&product_type=mouth%20guards">Mouth Guards</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=mma">All Products</a></li>
                </ul>
            </li>
            <li class="m-0 h3 text-center toggle-sub-menu b-bottom">
                <button class="d-flex align-items-center justify-content-center btn-none text-white nav-item-hover w-100 p-3">Muay Thai <i class="fas fa-chevron-down i-sm"></i></button>
                <ul class="list-unstyled mt-3 hide-submenu">
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai&product_type=gloves">Gloves</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai&product_type=shorts">Shorts</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai&product_type=handwraps">Handwraps</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai&product_type=shin%20guards">Shin Guards</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai&product_type=mouth%20guards">Mouth Guards</a></li>
                    <li><a class="text-white d-inline-block w-100 nav-item-size btn p-2 nav-item-hover" href="{% url 'products' %}?category=muay%20thai">All Products</a></li>
                </ul>
            </li>
            <li class="m-0 h3 text-center b-bottom">
                <span class="d-inline-block w-100"><a class="text-white p-3 a-tag-hover d-inline-block text-center w-100" href="{% url 'products' %}">All Products</a></span>
            </li>
        </ul>
    </nav>
</div>

