{% extends "base.html" %}

{% block css %}
<style>
    .responsive-width {
        width: 80%;
    }
    @media only screen and (max-width: 768px) {
        .responsive-width {
            width: 100%;
        }
    }
</style>
{% endblock %}

{% block content %}

<div class="w-100 d-flex justify-content-center h-100 align-items-center mx-auto p-0">
    <div class="d-block bg-white p-md-5 p-2 h-auto responsive-width">
        {% block inner_content %}

        {% endblock %}
    </div>
</div>

{% endblock %}