{% extends "account/base.html" %}

{% load i18n %}

{% block head_title %}{% trans "Signup" %}{% endblock %}

{% block inner_content %}
<h1 class="bold text-center">{% trans "Sign Up" %}</h1>

<h2 class="bold text-center">Register an account</h2>
<p class="bold text-center mt-3">{% blocktrans %}Already have an account? Then please <a href="{{ login_url }}">login</a>.{% endblocktrans %}</p>

<form class="signup d-flex flex-column align-items-center allauth-form" id="signup_form" method="post" action="{% url 'account_signup' %}">
  {% csrf_token %}
  {{ form|crispy }}
  {% if redirect_field_value %}
  <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}" />
  {% endif %}
  <button type="submit" class="btn btn-primary mb-3">{% trans "Sign Up" %} &raquo;</button>
</form>

{% endblock %}
