<div class="container-fluid px-2 d-block d-md-none">
    <header class="row">
        <a class="btn w-100 d-flex p-0 align-items-center justify-content-center col-12 col-sm-6" href="#"><h4 class="mb-0"><i class="fas fa-yin-yang"></i> Brazen MMA</h4></a>
        <form method="GET" action="{% url 'products' %}" class="col-12 align-items-center py-1 col-sm-6 w-100 justify-content-center search-form d-flex">
            <input name="q" class="px-2" type="text" placeholder="Search Products...">
            <button class="px-2" type="submit"><i class="fas fa-search"></i></button>
        </form>
        <nav class="col-12 p-0">
            <ul class="list-unstyled d-flex align-items-center justify-content-between px-sm-5 px-1 h-100 w-100 m-0">
                <li class="mx-4 text-center"><a class="listitem btn" href="{% url 'home' %}"><i class="fas fa-home"></i></a></li>
                <li class="listitem mx-4"><i class="fas fa-user"></i></li>
                <li class="mx-4"><a class="listitem btn" href="{% url 'view_bag' %}"><i class="fas fa-shopping-bag"></i></a></li>
                <li id="navbar-toggle-mobile" class="listitem mx-4"><i class="fas fa-list-ul"></i></li>
            </ul>
        </nav>
    </header>
</div>
