
/* --- from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp ---*/

    /* for removing arrows from input of type number */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

/* --------------------------------------------------------------------------- */

.quantity-selector {
    border: 0 !important;
    height: 2rem;
    width: 2rem;
}
.quantity-selector ~ input {
    width: 2rem;
    height: 2rem;
}
.button {
    width: 10rem !important;
}
.button-action {
    font-size: 0.9rem;
}

h2 {
    background-color: rgba(255, 255, 255, 0.9);
}
.product-thumbnail {
    min-height: 10rem;
    max-height: 10rem;
    min-width: 10rem;
    max-width: 10rem;
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
}
.product-thumbnail img {
    height: 100%;
    width: 100%;            
    object-fit: scale-down;
    border: 1px solid rgba(0, 0, 0, 0.1);
}
.update-form {
    background-color: rgba(0, 0, 0, 0.1);
}
.product-price {
    font-size: 1rem;
    font-weight: 600;
}
.product-container {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    width: 100%;
}
#shopping-bag {
    width: 38rem;
    background-color: white;
}
#sub-total {
    height: 121px;
    width: 38rem;
    background-color: rgba(255, 255, 255, 0.8);
}
#sub-total div p {
    font-weight: 500;
    font-size: 1rem;
}
.btn-size {
    width: 15rem;
    font-size: 1rem;
}
.title {
    width: 38rem;
}
h6 {
    font-weight: 500;
}
@media only screen and (max-width: 612px) {
    #shopping-bag,
    #sub-total,
    .title {
        width: 100%;
    }
    #sub-total div p {
        font-size: 0.9rem;
    }
    .product-thumbnail {
        min-height: 8rem;
        max-height: 8rem;
        min-width: 8rem;
        max-width: 8rem;
    }            
    .btn-size {
        width: 13rem;
        font-size: 0.9rem;
    }
}
@media only screen and (max-width: 470px) {
    .product-thumbnail {
        min-height: 5rem;
        max-height: 5rem;
        min-width: 5rem;
        max-width: 5rem;
    }  
    #sub-total div p {
        font-size: 0.8rem;
    } 
    .font-small {
        font-size: 0.8rem;
    }
    .btn-size {
        width: 100%;
        font-size: 0.6rem;
    }
    .btn-size:last-of-type {
        margin-top: 0.5rem;
    }
    #sub-total {
        height: 175px;
    }
    #sub-total div {
        flex-direction: column;
    }
    #sub-total div p {
        text-align: center;
    }
}
@media only screen and (max-width: 420px) {
    .product-details form:first-of-type button {
        float: right !important;
        position: relative !important;
        right: 20px;
    }
    .product-price {
        text-align: right !important;
        position: relative !important;
        right: 20px;
    }
    .update-form {
        /* flex-direction: column !important; */
        position: relative !important;
        width: 94vw !important;
        right: 105px !important;
    }
    .update-form h6 {
        margin-right: 0 !important;
    }
    .product-details {
        width: calc(100vw - 94px) !important;
        padding-right: 15px !important;
    }
}