
/* --- from https://www.w3schools.com/howto/howto_css_hide_arrow_number.asp ---*/

    /* for removing arrows from input of type number */

    /* Chrome, Safari, Edge, Opera */
    input::-webkit-outer-spin-button,
    input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
    }

    /* Firefox */
    input[type=number] {
    -moz-appearance: textfield;
    }

/* ----------------------------------------------- */

.img-container {
    height: 10rem;
    width: 10rem;
    object-fit: scale-down;
    border: 1px solid rgba(0, 0, 0, 0.2);
}
table {
    background-color: rgba(255, 255, 255, 0.8);
    width: 80%;
}
.bg-pale-black {
    background-color: rgba(0, 0, 0, 0.2);
}
.quantity-selector {
    border: 0 !important;
    height: 2rem;
    width: 2rem;
}
.quantity-selector ~ input {
    width: 2rem;
    height: 2rem;
}
.button {
    width: 10rem !important;
}
.button-action {
    font-size: 0.9rem;
}
.product-price {
    font-size: 1.1rem;
    font-weight: 600;
}
table tr {
    padding: 1rem;
}

@media only screen and (max-width: 1400px) {
    table {
        width: 90%;
    }
}
@media only screen and (max-width: 1250px) {
    table {
        width: 98%;
    }
    .img-container {
        height: 7rem;
        width: 7rem;
    }
}
@media only screen and (max-width: 992px) {
    table {
        width: 100%;
    }
}
@media only screen and (max-width: 768px) {
    .border-md-bottom {
        border-bottom: 1px solid black;
    }
    .img-container {
        height: 12rem;
        width: 12rem;
    }
}