<nav id="product-menu-tablet" class="product-menu d-lg-none p-0">
    <ul class="list-unstyled">
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">MMA</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3"><a href="{% url 'products' %}?category=mma&product_type=shorts">Shorts</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=mma&product_type=gloves">Gloves</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=mma&product_type=shin guards">Shin Guards</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=mma&product_type=mouth guards">Mouth Guards</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=mma&product_type=hand wrap">Handwrap</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=mma">ALL MMA</a></li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">BJJ</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3"><a href="{% url 'products' %}?category=bjj&product_type=gi">GI</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=bjj&product_type=belts">Belts</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=bjj&product_type=rashguards">Rashguards</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=bjj&product_type=spats">Spats</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=bjj&product_type=shorts">Shorts</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=bjj">ALL BJJ</a></li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Muay Thai</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=shorts">Shorts</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=gloves">Gloves</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=shin guards">Shin Guards</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=mouth guards">Mouth Guards</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=hand wrap">Handwrap</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai&product_type=groin guard">Groin Guard</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=muay thai">ALL MUAY THAI</a></li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Equipment</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3"><a href="{% url 'products' %}?category=equipment&product_type=kick shield">Kick Shields</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=equipment&product_type=belly pads">Belly Pads</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=equipment&product_type=punch bags">Punch Bags</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=equipment&product_type=grappling dummies">Grappling Dummies</a></li>
                <li class="my-3"><a href="{% url 'products' %}?category=equipment">ALL EQUIPMENT</a></li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">Sale <i class="fas fa-tags"></i></span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
        <li class="my-4 text-center">
            <span class="product-menu-listitem w-100">All Products</span>
            <ul class="list-unstyled product-menu-submenu">
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
                <li class="my-3">placeholder</li>
            </ul>
            <hr>
        </li>
    </ul>
</nav>