{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="Update product page"/>
{% endblock %}

{% block title %}
 - Update Product: {{ product.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/product-management.css' %}">
{% endblock %}

{% block content %}

<div id="product-management" class="mx-auto">
    <h2 class="text-center bold p-3 m-0">Product Management</h2>
    <h5 class="text-center bold p-3 m-0">UPDATE PRODUCT</h5>
    <form class="d-flex flex-column w-100 p-md-5 p-2" method="POST" action="{% url 'edit_product' product.product_id %}" enctype="multipart/form-data">
        {% csrf_token %}
        {{ form|crispy }}             
        <div id="inline-form" class="d-flex flex-column">   
            {{ formset.management_form }}
            {% for inlineform in formset %}
            <div class="d-flex justify-content-around align-items-center">
                {{ inlineform|crispy }}
            </div>
            {% endfor %}
        </div>
        <div class="border-top pt-3">
            <button id="add-new-product-submit" class="btn my-3 w-100 btn-primary" type="submit">Update Product</button>
        </div>
    </form>
</div>

{% endblock %}

{% block js %}
    <script src="{% static 'js/product-management.js' %}"></script>
{% endblock %}