{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="This is the product page for {{ product.name }}"/>
{% endblock %}

{% block title %}
 - Products | {{ product.name }}
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

<!-- breadcrumbs -->
<div id="breadcrumbs" class="mx-auto bg-transparent">
    <nav aria-label="breadcrumb" class="h-100 d-flex align-items-center bg-white p-0">
        <ol class="breadcrumb d-flex flex-column p-0 m-0 w-100">
            <li class="d-flex pt-3 px-4 justify-content-center">
                <ul class="list-unstyled d-flex">
                    <li class="breadcrumb-item"><a href="{% url 'products' %}?category={{ product.category }}">{{ product.category }}</a></li>
                    <li class="breadcrumb-item" aria-current="page"><a href="{% url 'products' %}?category={{ product.category }}&product_type={{ product.product_type }}">{{ product.product_type }}</a></li> 
                </ul>
            </li>   
            <li class="breadcrumb-item mx-auto px-3 pb-3 active m-0" aria-current="page">/ {{ product.name }}</li>                                
        </ol>
    </nav>
</div>

<!-- product management -->
{% if request.user.is_superuser %}
    <div id="product-management" class="p-3 mx-auto">
        <h4 class="text-center pb-3">Product Management</h4>
        <div id="update-delete-product">
            <div class="d-flex justify-content-center p-3">
                <a class="mx-3 button-width btn btn-primary" href="{% url 'edit_product' product.product_id %}">Update Product</a>
                <button id="confirm-delete" class="mx-3 button-width btn btn-danger">Delete Product</button>
            </div>
        </div>
        <div id="delete-product">
            <div class="d-flex flex-column p-3 justify-content-center">
                <h6 class="w-100 text-center">Are you sure you want to delete this product?</h6>
                <div class="d-flex p-3 justify-content-center">
                    <button id="cancel-delete" class="mx-3 button-width btn btn-secondary">Cancel</button>
                    <a class="mx-3 button-width btn btn-danger" href="{% url 'delete_product' product.product_id %}">Confirm Delete</a>
                </div>
            </div>
        </div>
    </div>
{% endif %}

<!-- product display -->
<div id="product-display" class="d-flex mx-auto p-3">        
    <!-- product image -->
    <div class="mx-auto product-img-container p-0 d-block">
        <img src="{% get_media_prefix %}{{ product.image }}" alt="{{ product.name }}">
    </div>
    <!-- product details -->
    <div id="product-details" class="p-3 mx-auto"> 
        <div>   
            <!-- product name -->
            <h5 class="text-center bg-white p-3"><strong>{{ product.name }}</strong></h5>                      
            <!-- product price -->  
        {% if product.sale %}
            <p class="text-center p-2 bg-white bold mt-0">
                <span class="mr-3 text-danger">£{{ product.price }} <i class="fas fa-tags"></i></span>
                <span class="mr-1 text-muted" title="Recommended Retail Price">RRP:</span>
                <span class="p-0 text-muted strike-through">£{{ product.rrp }}</span></p>    
        {% else %}
            <p class="p-2 mt-3 bold bg-white text-center price">£{{ product.price }}</p>
        {% endif %}
            <!-- product description -->
            <div class="d-flex mt-3 bg-white p-3 flex-column">
                <strong class="text-center w-100">Product Description</strong>
                <p class="text-justify m-0 mt-2">{{ product.description }}</p>
            </div>
        </div> 
        <div id="cart-size" class="d-flex bg-white flex-column mt-3 p-3">
            {% if has_sizes %}
                <div>
                    <p class="pb-3"><span class="bold">SIZES</span><button id="open-size-chart" class="float-right btn btn-primary">see size chart</button></p>
                    <div class="d-flex flex-wrap justify-content-center">
                        {% for select_size in sizes %}
                            {% if select_size.stock < 1 %}
                                <button class="btn btn-danger m-1 out-of-stock size"><strong class="user-select-none">{{ select_size.size }}</strong></button>
                            {% elif select_size.stock <= 5 %}                                    
                                <button class="btn btn-warning m-1 size"><strong class="user-select-none">{{ select_size.size }}</strong></button>
                            {% else %}
                                <button class="btn btn-primary m-1 size"><strong class="user-select-none">{{ select_size.size }}</strong></button>
                            {% endif %}
                            {% if forloop.counter >= sizes.count %}
                                <div class="d-flex justify-content-center w-100 mt-3 m-0 w-100">
                                    {% if low_stock == True %}
                                        <span class="my-1 mx-2"><i class="fas fa-circle text-warning"></i> Low Stock!</span>
                                    {% endif %}
                                    {% if no_stock == True %}
                                        <span class="my-1 mx-2"><i class="fas fa-circle text-danger"></i> Out of Stock</span>
                                    {% endif %}
                                </div>
                            {% endif %}
                        {% endfor %}
                        <p id="please-select-size" class="text-danger bold m-0 mt-3">Please select a size.</p>
                    </div>
                </div>
            {% else %}
                {% if no_stock == True %}
                    <p class="text-danger text-center bold m-0 mt-3">Out of Stock.</p>
                {% elif low_stock == True %}
                    <p class="text-warning text-center bold m-0 mt-3">Low Stock.</p>
                {% endif %}
            {% endif %}                       
        </div>                
        <!-- product sizes -->            
        <form id="add-to-bag-form" method="POST" action="{% url 'add_to_bag' product.product_id %}"
        class="d-flex bg-white mx-auto flex-column justify-content-between">
            {% csrf_token %}
            <label for="quantity" class="mx-auto bold my-0">QUANTITY</label>
            <div class="my-3 mx-auto d-flex align-items-center">
                <button id="quantity-sub" class="btn btn-primary quantity-selector" type="button"><i class="fas fa-chevron-left"></i></button>
                <input id="quantity" name="quantity" type="number" min="1" max="99" value="1" class="text-center" required>
                <button id="quantity-add" class="btn btn-primary quantity-selector" type="button"><i class="fas fa-chevron-right"></i></button>
                <input type="hidden" name="redirect_url" value="{{ request.path }}">
                <input id="size_input" type="hidden" name="size" value="false">                    
            </div>
            <div class="px-3">
                <button id="add-to-bag-submit" type="submit" class="my-3 btn btn-primary w-100">Add to bag <i class="fas fa-shopping-bag"></i></button>
            </div>
        </form>       
    </div>
</div>

<!-- size chart -->
{% if has_sizes %}
<div id="size-chart">
    <div class="d-flex flex-column justify-content-center align-items-center h-100 w-100">
        <button id="close-size-chart" class="btn btn-primary">Close</button>
    
        <table class="sizeChart bg-white border border-dark">
            <tbody class="border border-dark">
                <tr class="border border-dark">
                    <td rowspan="2" class="text-center">&nbsp;</td>
                    <td colspan="5" class="text-center"><strong>Size Chart</strong></td>
                </tr>
                <tr class="border border-dark">
                    <td class="text-center border border-dark"><strong>XS</strong></td>
                    <td class="text-center border border-dark"><strong>S</strong></td>
                    <td class="text-center border border-dark"><strong>M</strong></td>
                    <td class="text-center border border-dark"><strong>L</strong></td>
                    <td class="text-center border border-dark"><strong>XL</strong></td>
                </tr>
                <tr class="border border-dark">
                    <td class="border border-dark text-center"><strong>Inches</strong></td>
                    <td class="border border-dark text-center">30-32</td>
                    <td class="border border-dark text-center">34-36</td>
                    <td class="border border-dark text-center">38-40</td>
                    <td class="border border-dark text-center">40-42</td>
                    <td class="border border-dark text-center">44-46</td>
                </tr>
                <tr class="border border-dark">
                    <td class="border border-dark text-center"><strong>cm</strong></td>
                    <td class="border border-dark text-center">75-80</td>
                    <td class="border border-dark text-center">85-90</td>
                    <td class="border border-dark text-center">95-100</td>
                    <td class="border border-dark text-center">100-105</td>
                    <td class="border border-dark text-center">110-115</td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
{% endif %}

{% endblock %}

{% block js %}
    <script src="{% static 'js/products.js' %}"></script>
{% endblock %}