{% extends 'base.html' %}
{% load static %}

{% block meta_description %}
    <meta name="Description" content="Browse Brazilian Jiu Jitsu, Muay Thai, and Mixed Martial Arts equipment and attire for men and women."/>
{% endblock %}

{% block title %}
 - Products
{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/products.css' %}">
{% endblock %}

{% block content %}

{% if category and product_type != None %}
    <div class="w-100 p-3 bg-white">
        <nav aria-label="breadcrumb" class="h-100 d-flex align-items-center p-0">
            <ol class="breadcrumb d-flex p-0 m-0 w-100">
                <li class="breadcrumb-item"><a href="{% url 'products' %}">All Products</a></li>
                <li class="breadcrumb-item"><a href="{% url 'products' %}?category={{ category }}">{{ category }}</a></li>
                <li class="breadcrumb-item active" aria-current="page"><u>{{ product_type }}</u><small><span class="mx-3">|</span>{{ products.count }} Products</small></li>                                
            </ol>
        </nav>
    </div>
{% elif category != None %}
    <div class="w-100 p-3 bg-white">
        <nav aria-label="breadcrumb" class="h-100 d-flex align-items-center p-0">
            <ol class="breadcrumb d-flex p-0 m-0 w-100">
                <li class="breadcrumb-item"><a href="{% url 'products' %}">All Products</a></li>
                <li class="breadcrumb-item active"><u>{{ category }}</u><small><span class="mx-3">|</span>{{ products.count }} Products</small></li>                                
            </ol>
        </nav>
    </div>
{% else %}
    {% if search_term is None %}
        <div class="w-100 p-3 bg-white">
            <nav aria-label="breadcrumb" class="h-100 d-flex align-items-center p-0">
                <ol class="breadcrumb d-flex p-0 m-0 w-100">
                    <li class="breadcrumb-item active"><u>All Products</u><small><span class="mx-3">|</span>{{ products.count }} Products</small></li>                               
                </ol>
            </nav>
        </div>        
    {% endif %}
{% endif %} 

{% if search_term %}
<!-- search results -->
<div id="search-results" class="w-100 p-3 bg-white">
    {% if products.count > 1 %}
        <p class="m-0 bold">{{ products.count }} products found for "{{ search_term }}"</p>
    {% elif products.count > 0 %}
        <p class="m-0 bold">{{ products.count }} product found for "{{ search_term }}"</p>
    {% else %}
        <p class="m-0 bold">No results found for "{{ search_term }}"</p>
    {% endif %}
</div>  
{% endif %}       

 <!-- filters -->
 {% if products.count != 0 %}
<div id="filters" class="w-100 bg-white d-flex justify-content-start p-3 flex-wrap">
    <div>
        <button class="btn btn-primary mr-3 my-1 dropdown-style dropdown-toggle float-right" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if sort %}{{ sort }} {{ direction }}{% else %}Sort Products{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}&sort=price&direction=asc{% if filters %}&filters={{ filters }}{% endif %}"
            class="dropdown-item">By Price (low > high) Ascending</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}&sort=price&direction=desc{% if filters %}&filters={{ filters }}{% endif %}"
            class="dropdown-item">By Price (high > low) Descending</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}&sort=name&direction=asc{% if filters %}&filters={{ filters }}{% endif %}"
            class="dropdown-item">By Name (A > Z) Ascending</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}&sort=name&direction=desc{% if filters %}&filters={{ filters }}{% endif %}"
            class="dropdown-item">By Name (Z > A) Descending</a>
        </div> 
    </div>   
    <div>
        <button class="btn btn-primary mx-3 my-1 dropdown-style dropdown-toggle float-right" id="dropdownMenuButtonTwo" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {% if filters %}{{ filters }}{% else %}Filter Products{% endif %}
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonTwo">
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}{% if sort != None %}&sort={{ sort }}&{% endif %}{% if direction != None %}direction={{ direction }}{% endif %}&filters=MEN"
            class="dropdown-item">Men</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}{% if sort != None %}&sort={{ sort }}&{% endif %}{% if direction != None %}direction={{ direction }}{% endif %}&filters=WOMEN"
            class="dropdown-item">Women</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}{% if sort != None %}&sort={{ sort }}&{% endif %}{% if direction != None %}direction={{ direction }}{% endif %}&filters=UNISEX"
            class="dropdown-item">Unisex</a>
            <a href="{% url 'products' %}?{% if search_term != None %}q={{ search_term }}&{% endif %}{% if category != None %}category={{ category }}&{% endif %}{% if product_type != None %}product_type={{ product_type }}{% endif %}{% if sort != None %}&sort={{ sort }}&{% endif %}{% if direction != None %}direction={{ direction }}{% endif %}&filters=DISCOUNTED"
            class="dropdown-item">Discounted</a>
        </div>
    </div>
    {% if sort or direction or filters %}
        <div class="d-inline-block ml-auto my-1">
            <a class="btn btn-secondary" href="{% url 'products' %}{% if search_term != None %}?q={{ search_term }}&{% endif %}{% if category != None %}?category={{ category }}{% endif %}{% if product_type != None %}&product_type={{ product_type }}{% endif %}">Disable Sorting/Filters</a>
        </div>
    {% endif %}
</div>
{% endif %}

<!-- products -->
<div id="products" class="container-fluid">
    <div class="row">
        {% for product in products %}
            <a href="{% url 'product_details' product.product_id %}" class="p-2 carousel-cell my-3 mx-auto product-style position-relative d-flex flex-column">
                <div class="img-container p-0 d-flex justify-content-center">                    
                    <img class="img-thumbnail" src="{% get_media_prefix %}{{ product.image }}" alt="{{ product.name }}">
                </div>
                <strong class="my-2 w-100 product-name text-center mb-4">{{ product.name }}</strong>
                <div class="position-absolute w-100 p-3">
                    {% if product.sale %}
                        <div class="d-flex mt-2 justify-content-center">
                            <p class="mx-2 bold my-0 text-danger">£{{ product.price }} <i class="fas fa-tags"></i></p>
                            <p class="d-inline-block strike-through mr-2 bold my-0 text-muted">£{{ product.rrp }}</p>
                        </div>
                    {% else %}
                        <p class="mt-2 mb-0 bold text-center text-dark">£{{ product.price }}</p>
                    {% endif %}
                </div>
            </a>
        {% endfor %}
    </div>
</div>

{% endblock %}